/***Header***/
*{
    margin:0;
    padding:0;
}

body{
    font-family: "Edu Australia VIC WA NT Hand", sans-serif;
}

.menu1 a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu2 a{
    text-decoration:none;
    color: black;
    padding: 10px;
}

/***Headers***/

.header1{
    background-image: url(./img/header.jpg);
    background-size: cover;
    text-align: Center;
    color: white;
    height: 300px;
    
}



.header2{
    text-decoration: none;
    background-color: orange;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    color: black;
    height: 100px;
    padding: 50px;
}


/***Index***/

.main-about1 h2{
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-about1 p{
    margin-bottom: 25px;
}

.about2{
    display:flex;
    flex-direction: row;
}


/***House***/


.flex-houses{
    display: flex;
    flex-direction:row;
}

.flex-house1, .flex-house2, .flex-house3{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.btn-details{
    display: black;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.house-item-text{
    background-color: rgb(242, 240, 240);
    height: 250px;
    margin-top: -4px;
    margin-right: 19px;
}

.fl-h1{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.fl-h1 p{
    margin-left: 20px;
}

.price{
    color: rgb(10, 192, 0);
}

/***Contact***/
.contact-cont{
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px  
}
.info-cont{
    padding:20px;
    margin-left: 300px;
    margin-right: 300px;
}

.info-cont fieldset{
    margin-bottom: 10px;
}

.personal-info{
   background-color: rgb(231, 231, 231);
    background-size: cover; 
}

.product-info{
   background-color: rgb(231, 231, 231);
    background-size: cover; 
}

.contact-info{
   background-color: rgb(231, 231, 231);
    background-size: cover; 
}
.personal-info div{
    padding: 10px;
    height: -200px; 
}

.product-info div{
    padding: 10px;
    height: -50px;
   
}

.contact-info div{
    padding: 30px;
    height: -100px;
}


.em-dat1 span{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}



.em-dat2 span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

